@use 'custom-theme.scss';
@use '@material/theme';
@use '@material/typography';

*,
*::before,
*::after {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/* stylelint-disable-next-line  selector-max-type */
body {
  min-height: 100vh;
  font-size: 16px;
  font-family: var(--font-family);
  line-height: 1.6;
  transition: color 0.5s, background-color 0.5s;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* stylelint-disable-next-line  selector-max-type */
a {
  color: var(--md-sys-color-primary);
}
