<template>
  <section class="People">
    <h2>People ({{ people.size }})</h2>
    <div class="People__Bar">
      <md-outlined-text-field
        label="Name of person to add"
        v-model="personName"
        @keypress="checkSubmit"
      />
      <md-filled-icon-button
        class="People__Add"
        @click="addPerson"
        aria-label="Add new person"
        >Add</md-filled-icon-button
      >
    </div>
    <div class="People__List">
      <div
        class="People__Person"
        v-for="person of people.values()"
        :key="person.id"
      >
        <PersonTag :person-id="person.id" class="People__PersonName" />
        <div class="People__PersonStat">
          <span
            >{{
              Math.ceil((person.shouldSee?.size / (people.size - 1)) * 100)
            }}%</span
          >
          <md-standard-icon-button
            @click="edit(person.id)"
            aria-label="Remove this person"
            >edit</md-standard-icon-button
          >
        </div>
      </div>
    </div>
    <PersonEdit :person-id="personToEdit" @closed="edit(null)" />
  </section>
</template>

<script lang="ts" setup>
import { ref } from 'vue'
import { Person, people } from './Person'
import '@material/web/iconbutton/standard-icon-button'
import '@material/web/iconbutton/filled-icon-button'
import '@material/web/textfield/outlined-text-field'
import '@material/web/button/filled-button'

import PersonTag from './PersonTag.vue'
import PersonEdit from './PersonEdit.vue'

const personName = ref('')

const personToEdit = ref<Person['id'] | null>(null)

function addPerson() {
  if (personName.value) {
    const person = new Person(personName.value)
    people.set(person.id, person)
    personName.value = ''
  }
}

function checkSubmit(event: KeyboardEvent) {
  if (event.code === 'Enter') addPerson()
}

function edit(id: string | null) {
  personToEdit.value = id
}
</script>

<style lang="scss">
@use 'assets/base.scss';

.People {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__Bar {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__List {
    padding-top: 8px;
    display: grid;
    gap: 4px;
  }

  &__Person {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 8px;

    &Stat {
      display: flex;
      flex: 1 1 auto;
      justify-content: end;
      align-items: center;
    }
  }
}
</style>
