<template>
  <div
    :class="{ 'PersonTag--focus': focusPerson === person?.id }"
    class="PersonTag"
    @click="focus"
  >
    <span>{{ person?.name }}</span>
  </div>
</template>

<script lang="ts" setup>
import { computed } from 'vue'
import { focusPerson, people, type Person } from './Person'

const props = defineProps<{
  personId: Person['id']
}>()

const person = computed(() => people.get(props.personId))

function focus() {
  if (person.value?.id) focusPerson.value = person.value?.id
}
</script>

<style lang="scss">
.PersonTag {
  box-sizing: border-box;
  border: 1px solid var(--md-sys-color-outline);
  border-radius: 8px;
  padding: 0px 8px;
  height: 32px;

  &--focus {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
  }

  &:hover {
    cursor: pointer;
  }
}
</style>
