<!-- eslint-disable vue/no-deprecated-slot-attribute -->
<template>
  <md-dialog open class="PersonEdit" ref="dialog" v-if="person">
    <span slot="headline"> Edit person</span>
    <div class="PersonEdit__content">
      <md-outlined-text-field
        class="PersonEdit__name"
        label="Name of person"
        v-model="person.name"
      />
    </div>

    <div slot="footer" class="PersonEdit__footer">
      <md-standard-icon-button
        class="PersonEdit__remove"
        @click="remove()"
        title="Remove this person"
        >delete</md-standard-icon-button
      >

      <div></div>

      <md-tonal-button @click="dialog.value?.close()">Close</md-tonal-button>
    </div>
  </md-dialog>
</template>

<script lang="ts" setup>
import { computed, ref } from 'vue'
import { people, type Person } from './Person'
import '@material/web/dialog/dialog'
import '@material/web/iconbutton/filled-icon-button'
import '@material/web/textfield/outlined-text-field'
import '@material/web/button/tonal-button.js'

const dialog = ref()

const props = defineProps<{
  personId: Person['id'] | null
}>()

const person = computed(() =>
  props.personId ? people.get(props.personId) : undefined
)

function remove() {
  if (props.personId) {
    people.delete(props.personId)
  }

  dialog.value?.close()
}
</script>

<style lang="scss">
.PersonEdit {
  background: var(--md-sys-color-surface);

  &__remove {
    --md-icon-button-unselected-icon-color: var(--md-sys-color-error);
  }

  &__content {
    padding: 16px 0;
  }

  &__footer {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(min-content, auto) 1fr minmax(
        min-content,
        auto
      );
    grid-template-rows: 1fr;
  }
}
</style>
