<template>
  <section class="Rounds">
    <h2 class="mdc-typography--headline2">Rounds</h2>

    <section class="Rounds__Bar">
      <md-outlined-text-field
        label=" Number of rounds"
        v-model="numberOfRounds"
        type="number"
        min="1"
      />

      <md-filled-button @click="generate"
        >Regenerate {{ numberOfRounds }} rounds</md-filled-button
      >
    </section>

    <article class="Rounds__round" v-for="round of rounds" :key="round.round">
      <h3>{{ round.round }}</h3>
      <section
        class="Rounds__table"
        v-for="table in round.tees"
        :key="table.no"
      >
        <h4 class="Rounds__tableName">
          Table&nbsp;{{ table.no }} ({{ table.size }})
        </h4>
        <ul class="Rounds__tablePersons">
          <li
            class="Rounds__tablePerson"
            v-for="personId in table.players"
            :key="personId"
          >
            <PersonTag :person-id="personId" />
          </li>
        </ul>
      </section>
    </article>
  </section>
</template>

<script lang="ts" setup>
import { rounds, numberOfRounds } from './Round'
import type { Round } from './Round'
import { StartListGenerator } from './Algorithm.js'
import { people } from './Person'
import { tableSize } from './Table'
import type { Person } from './Person'
import '@material/web/button/filled-button.js'
import PersonTag from './PersonTag.vue'

async function generate() {
  rounds.value = []
  const roundNames = new Array(numberOfRounds.value)
    .fill('Round ')
    .map((r, i) => r + (i + 1))

  const slg = await new StartListGenerator(
    [...people.keys()],
    tableSize.value,
    roundNames
  )
  rounds.value = slg.generate().result as Round[]

  people.forEach((person) => person.shouldSee?.clear())

  for (const round of rounds.value) {
    for (const table of round.tees) {
      haveMeet(table.players)
    }
  }
}

function haveMeet(personIds: Person['id'][]) {
  personIds.forEach((pId) => {
    personIds.forEach((pId2) => {
      if (pId !== pId2) {
        people.get(pId)?.shouldSee.add(pId2)
        people.get(pId2)?.shouldSee.add(pId)
      }
    })
  })
}
</script>

<style lang="scss">
@use 'assets/base.scss';

.Rounds {
  display: flex;
  flex-direction: column;
  gap: 16px;
  &__Bar {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__round {
    display: grid;
    gap: 16px;
    margin-bottom: 32px;
  }

  &__table {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-left: 16px;

    &Person {
      &s {
        padding: 0;
        display: inline-flex;
        flex-wrap: wrap;
        gap: 8px;
        list-style: none;
      }
    }
  }
}
</style>
