<template>
  <section class="Tables">
    <header>
      <h2>Tables ({{ tables.length }})</h2>

      <md-outlined-text-field
        label="Maximum people per table"
        v-model="tableSize"
        type="number"
        min="2"
      />
    </header>

    <div class="Tables__List">
      <div
        class="Tables__Table"
        v-for="table of tables.values()"
        :key="table.idx"
      >
        <span
          class="Tables__TableName"
          :title="`${table.name} will host ${table.size} persons`"
          >{{ table.name }} - {{ table.size }}&nbsp;<md-icon
            aria-label="persons"
            weight="100"
            >groups</md-icon
          ></span
        >
      </div>
    </div>
  </section>
</template>

<script lang="ts" setup>
import { computed } from 'vue'
import { tableSize, generateTables } from './Table'
import { people } from './Person'
import '@material/web/icon/icon'

const tables = computed(() => generateTables(people.size))
</script>

<style lang="scss">
@use 'assets/base.scss';

.Tables {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__List {
    padding-top: 8px;
    display: grid;
    gap: 4px;
  }

  &__Table {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__TableName {
    display: flex;
    flex: 1 1 auto;
  }
}
</style>
